.jumbotron {
  background-image: url("images/eagle-small.jpg");
  background-size: 1100px;
  background-position: 30% 30%;
}

h2 {
  color: lightblue; 
  text-align: center; 
  text-shadow: 1px 1px black;
  
}

ul #social {
  display: inline; 
}


